*
{
    all: unset;
}

/* separator */

.sepbar
{
    color: #E8E3E3;
    font-family: VictorMono Nerd Font Mono;
    font-size: 24px;
    margin-right: 10px;
    margin-left: 10px;
}

/* tooltip */
tooltip
{
    background-color: #161320;
    font-family: Overpass Nerd Font Mono;
    font-size: 12px;
}

/* bar */
.bar
{
    background-color: #151515;
    border-radius: 15px;
}

/* time*/
.time-cpu-mem
{
    margin-right: 15px;
}
.time-label
{
    color: #E8E3E3;
    font-family: Overpass Nerd Font;
    font-size: 15px;
}

/* mem cpu */
.mem
{
    color: #D9BC8C;
    background-color: #424242;
    border-radius: 10px;
}
.cpu
{
    color: #8AA6A2;
    background-color: #424242;
    border-radius: 10px;
    margin-right: 30px;
}
.cpu-and-mem
{
    background-color: rgba(00, 00, 00, 0.0);
    margin-right: 10px;
}

/* volume and mic */

.vol
{
    margin-left: 0px;
}
.vol-icon
{
    font-size: 20px;
    margin-right: 10px;
}
.volume {
    margin-right: 0px;
    margin-left: 0px;
}
.mic-icon
{
    font-size: 20px;
    margin-right: 10px;
}

.volbar trough highlight
{
    background-color: #E8E3E3;
    border-radius: 10px;
}
.micbar trough highlight
{
    background-color: #FAE3B0;
    border-radius: 10px;
}

scale trough
{
    border-radius: 10px;
    background-color: #424242;
    min-height: 10px;
    min-width: 70px;
}

/* power */

.power-icon
{
    font-size: 20px;
}

/* music */

.music-label
{
    color: #E8E3E3;
    font-family: Overpass Nerd Font;
    font-size: 15px;
    margin-right: 19px;
}

.song_btn_prev
{
    color: #E8E3E3;
    font-family: VictorMono Nerd Font Mono;
    font-size: 25px;
    margin-left: 0px;
}

.song_btn_play
{
    color: #E8E3E3;
    font-family: VictorMono Nerd Font Mono;
    font-size: 25px;
    margin-left: 10px;
}

.song_btn_next
{
    color: #E8E3E3;
    font-family: VictorMono Nerd Font Mono;
    font-size: 25px;
    margin-left: 10px;
}

/* workspaces */
.works {
    font-size: 20px;
    font-family: VictorMono Nerd Font Mono;
    font-weight: bold;
    margin-left: 30px;
    margin-top: 12px;
    background-color: rgba(00, 00, 00, 0.0);
}
    
.0, .01, .011 {
    margin-right: 22.5px;
}
    
/* Unoccupied */
.0 {
    color: #424242;
}

/* Occupied */
.01 {
    color: #E8E3E3;
}
    
/* Focused */
.011 {
    color: #8DA3B9;
}
/* power */

.power-icon
{
    color: #F28FAD;
    font-family: VictorMono Nerd Font Mono;
    font-size: 20px;
    margin-right: 10px;
}

.lock-btn
{
    color: #D9E0EE;
    font-family: VictorMono Nerd Font Mono;
    font-size: 50px;
}

.lock-btn:hover
{
    color: #F28FAD;
    font-family: VictorMono Nerd Font Mono;
    font-size: 50px;
}

.power-btn
{
    color: #D9E0EE;
    font-family: VictorMono Nerd Font Mono;
    font-size: 50px;
}

.power-btn:hover
{
    color: #F28FAD;
    font-family: VictorMono Nerd Font Mono;
    font-size: 50px;
}

.restart-btn
{
    color: #D9E0EE;
    font-family: VictorMono Nerd Font Mono;
    font-size: 50px;
}

.restart-btn:hover
{
    color: #F28FAD;
    font-family: VictorMono Nerd Font Mono;
    font-size: 50px;
}

.powermenu
{
    background-color: #161320;
    border-radius: 15px;
    border: 5px solid #302D41;
}

/* menu */

.menu-box
{
    margin-right: 10px;
    font-size: 35px;
}

/* launcher */

.launchermenu
{
    background-color: #161320;
    border-radius: 15px;
    border: 5px solid #302D41;
}

.launcher-icon
{
    margin-top: 10px;
    margin-left: 10px;
}

.launcher-pfp-label
{
    font-family: Overpass Nerd Font Mono;
    font-size: 20px;
    margin-left: 10px;
}

.launcher-pfp-label2
{
    font-family: Overpass Nerd Font Mono;
    font-size: 25px;
    margin-left: 10px;
    margin-top: 20px;
}

.launcher-btn
{
    color: #B66467;
    font-family: Overpass Nerd Font Mono;
    font-size: 50px;
    margin-top: 80px;
}

.launcher-btn:hover
{
    color: #F28FAD;
    font-family: Overpass Nerd Font Mono;
    font-size: 50px;
    margin-top: 80px;
}
